@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* Global Styles */
:root {
  --primary-color: #215a3f;
  --secondary-color: #319046;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', cursive;
  line-height: 1.6;
  max-width: 600px;
  margin: 40px auto;
  background-color: var(--primary-color);
  color: #fff;
}

header {
  text-align: center;
}

#loading {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#loading img {
  height: inherit;
  width: inherit;
}

.task {
  margin: 20px 0;
  padding: 15px 25px;
  background: var(--secondary-color);
  box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.task h3 {
  font-size: 25px;
}

.task li {
  margin: 5px 0;
}

.task .tags {
  margin-top: 20px;
  padding: 5px 10px;
  background: rgb(31, 29, 29);
  border-radius: 5px;
  color: rgb(231, 179, 66);
  font-weight: bold;
}
